

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.buscador {
  width: 250px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}